
header {
    font-family: akagi-pro,sans-serif;
    font-weight: 1500;
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
   color: white;
    text-transform: uppercase;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: -webkit-sticky;
}


nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    word-spacing: 50px;
    color: white;
    width: 100%;
    height: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    overflow: hidden;
}

nav a{
    text-decoration: none;
    color:white;
    font-size: 1.3em;
}

nav a:hover{
    color: rgb(255, 166, 0);
}

main{
   background-color:rgb(105, 50, 50);
    width: 100%;
    height:1966px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

article { 
background-color:  rgb(78, 34, 34);
width: 100%;
height: 700px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
padding-top: 50px;
overflow: hidden;
}

.box {
    background-color:rgb(105, 50, 50);
    width: 500px;
    height:500px;
    float: left;
    margin-left: 14px; 
    margin-right: 14px;

}
.text {
    background-color: rgb(105, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    text-align: left;
    width: 600px;
    height: 600px;
    float: left;
    padding: 10px;
    margin-left: 14px; 
    margin-right: 14px;
}
.closets {

    background-image: url("images/david22.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    overflow: hidden;
}

footer{
    background-image: url("images/zig.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: -webkit-sticky;

}


.image {
    background-color: rgb(97, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
    border-style: groove;
    border-radius: 25px;
    width: 400px;
    height: 650px;
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    overflow: hidden;
   
}
.table {
    border-collapse: collapse;
    width: 700px;
    height: 400px;
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  td {
    padding: 15px;
  }

  tr {
    border: 1px solid black;
    background-color: rgb(139, 73, 73);
    height: 50px;
    vertical-align: bottom;
  }

  tr:hover {background-color:rgb(209, 152, 152);
}

img{
    width: 100%;
}